//-
    ...

extends layout

block append scripts

    script(src='../resources/js/rmc3@3.3.5.js')
    // socket.io for signaling
    script(src='/socket.io/socket.io.js')
    script(src='../resources/js/DetectRTC.js')

    script(src='../resources/js/connection.js')
    script(src='../resources/js/guide.connection.js')
    script(src='../resources/js/util.js')
    script(src='../resources/js/ui.js')
    script(src='../resources/js/guide.ui.js')

    script(src='../resources/js/map.js')
    script(src='../resources/js/guide.map.js')
    script(src='../resources/js/hammerV2.0.8.js')
    script(src='../resources/js/hammerFunctions.js')
    script.
      $(document).ready(function () {
            username = "!{name}";

            //var DetectRTC = require('detectrtc');
            DetectRTC.load(function () {
                if (!(DetectRTC.browser.isChrome || DetectRTC.browser.isFirefox || DetectRTC.browser.isOpera)) {
                    alert("#{texts.ERROR.CRAPPY_BROWSER_GUIDE}");
                    window.location = "/logout";
                    return;
                }
                //console.warn(DetectRTC.hasMicrophone);
                detectRTCcapabilities();
                //does not seem to work
                // it works, when it does not work, it causes also other trubles
                if (!DetectRTC.hasMicrophone) {
                    alert("#{texts.ERROR.NO_MICROPHONE}");
                    //window.location="/logout";
                    //return;
                }

                initSplinxs();
                //true because he is  a guide
                initUI(true);
                initGuideUI();
                //don't show gui! show it only if clients connect
                //showChatMapGUI();
                //TODO check this
                //showGuideUI();
                initGuideConnection();
            });

      });

block append stylesheets
    //TODO remove when it works...
    //link(rel='stylesheet', href='../resources/css/styleOld.css')
    link(rel='stylesheet', href='../resources/css/connected.css')
    link(rel='stylesheet', href='../resources/css/chat.css')

//the guide has no link to home clicking on the splinxs brand
block navbar-brand
    a(class='navbar-brand')
        img(style='height:100%', src='../resources/images/splinxs.png')

block append navbarli
    li
        a#guideControlsBtn __controls
    li
        a(href="/logout" id="a_logout") #{texts.MENU.LOGOUT}
    li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | #{texts.MENU.SETTINGS}
            span.caret
        ul.dropdown-menu
            li
                a(href="/guideLanguages" id="a_guideLanguages") #{texts.MENU.CHANGE_LANGUAGES}
            li
                a(href="/guideAreas" id="a_guideAreas") #{texts.MENU.CHANGE_AREAS}
            li
                a(href="/guidePassword" id="a_guidePassword") #{texts.MENU.CHANGE_PASSWORD}
            li
                a(href) __set available

block content
    #guideControls.controlsPage(hidden)
        .row
            .col-sm-12
                img.x(src='../resources/images/icons/x.png', alt='close icon', id="btn_guideClose")
        .row
            .col-sm-12
                h2(style='text-align: center;') __Controls

        button#btn_closeConnection(type='button', hidden) #{texts.G.CLOSE_CONNECTION}
        br
        #audioControlsBox(hidden='')
            //button#btn_startAudio(type='button') __start audio
            //button#btn_stopAudio(type='button') __stop audio
            #audioDiv
        br
        #videoControlsBox.video(hidden='')
            //button#btn_stopVideo(type='button') __stop video
            //#videoContainer
        br
        //TODO not needed, single button will be enough
        span __state:
        span(id="spn_state") __available
        br
        button(id='btn_available', type="button") #{texts.G.AVAILABLE}
        br
        button(id='btn_unavailable', type="button") #{texts.G.UNAVAILABLE}
        br

    //
        main#content
          button#btn_closeConnection(type='button', hidden) __close connection
          br
          #audio(hidden='')
            button#btn_startAudio(type='button') __start audio
            button#btn_stopAudio(type='button') __stop audio
            #audioDiv
          br
          #video.video(hidden='')
            button#btn_stopVideo(type='button') __stop video
            #videoContainer
          br
          span __state:
          span(id="spn_state") __available
          br
          button(id='btn_available', type="button") __set available
          br
          button(id='btn_unavailable', type="button") __set unavailable
          br
          div(id="mapControls", hidden)

          div(id="map", hidden)

    .chatBox(id="chatBox" hidden)
        .panel.panel-primary(id="primaryPanel")
            .panel-heading(id="headingPanel")
                span
                    .chatLeft
                        img.chatLeftIcon(src='../resources/images/icons/chatWhite.png', alt='chat')

                        span#spn_isTyping.text-center.message
                        //#{texts.GENERAL.CHAT}


                        img.chatRightIcon(src='../resources/images/icons/arrowDown.png', alt='close', id="btn_minimiseChat")
            //
              span.glyphicon.glyphicon-comment
              |  #{texts.GENERAL.CHAT}
              span#spn_isTyping.text-center

                img(src='resources/images/icons/arrowDown.png', alt='close', id="btn_minimiseChat")
                //
                    button#btn_minimiseChat.btn.btn-default.btn-xs(type='button')
                      span.glyphicon.glyphicon-chevron-down
                    ul.dropdown-menu.slidedown
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh
                          | __Refresh
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-ok-sign
                          | __Available
            .panel-body(id="bodyPanel")
                ul#chat.chat
            .panel-footer(id="footerPanel")
                .input-group
                    input#inp_chat.form-control.input-sm(type='text', placeholder='#{texts.G.TYPE_MESSAGE}')
                    span.input-group-btn
                        button#btn_chat.btn.btn-sm #{texts.GENERAL.SEND}
        // </div>

    // <div id="confirmDiv">
    #modalDialog.modalDialog(hidden)
        p#modalContent
        button#modalNo #{texts.GENERAL.NO}
        button#modalYes #{texts.GENERAL.YES}

    // </div>
    audio#audioPlayer

    #hammerVideo(hidden)
        #videoContainer
    #hammerContainer(hidden)
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfwr4Jux2OwmpetTfqEYpGBoX95Z5obkI&libraries=drawing,places&callback=initMap')
    .audioVideoControls
        img.videoIcon(src='../resources/images/icons/videoOn.png', alt='video' id="ico_video", hidden)
        img.audioIcon(src='../resources/images/icons/microphoneOn.png', alt='audio' id="ico_audio", hidden)

//
block foot
    //
        div(id="smallChat", class="smallChat", hidden)
            img#smallChatImg.smallChatImg(src='resources/images/smallChat.png', alt='#{texts.GENERAL.CHAT}')
            span#smallChatText.smallChatText #{texts.GENERAL.CHAT}
            img.smallChatUp(src='resources/images/arrowUp.png', alt='up')

