//**
 * Copyright Ⓒ 2016 Splinxs
 * Authors: Elia Kocher, Philippe Lüthi
 * This file is part of Splinxs.
 * 
 * Splinxs is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License V3 as published by
 * the Free Software Foundation, see <http://www.gnu.org/licenses/>.
 */

extends layout

block append stylesheets
    link(rel='stylesheet', href='resources/css/guide.areas.css')
block append scripts
    script(src='resources/js/guide.areas.js')
    script(src='resources/js/modernizr-custom.min.js')
block content
    script.
        existingCircles = !{JSON.stringify(savedAreas)};
    .container.info(id="infoPopup")
        .row
            .col-sm-12
                a.back(id="backArrow" hidden href="/")
                    img.backArrow(src='resources/images/icons/backArrow.png', alt='back icon')
                    | #{__('GENERAL.BACK')}
                img.x(src='resources/images/icons/x.png', alt='close icon', id="img_infoClose")
        .row
            .col-sm-12
                h2 #{__('G_AREAS.G_AREAS')}
        .row
            .col-sm-12
                p #{__('G_AREAS.DESCRIPTION')}
                .bottom-button
                    .center-button
                        a.btn.btn-default.btn-green.btn-info-bottom(id="infoBottom") #{__('G_AREAS.OK')}
        .row
            .col-sm-4
                .desc-container
                    img.icon-desc(src='resources/images/icons/pan.png', draggable='false')
                    p.img-text #{__('G_AREAS.PAN_DESCRIPTION')}
            .col-sm-4
                .desc-container
                    img.icon-desc(src='resources/images/icons/add.png', draggable='false' )
                    p.img-text #{__('G_AREAS.ADD_DESCRIPTION')}
            .col-sm-4
                .desc-container
                    img.icon-desc(src='resources/images/icons/remove.png', draggable='false' )
                    p.img-text #{__('G_AREAS.REMOVE_DESCRIPTION')}
    .controls.controls-move(id="mapControls"  data-toggle='buttons-radio')
        .control.selected-control(id="mapControlPan")
            img.icon(src='resources/images/icons/pan.png', draggable='false')
            .p.description #{__('G_AREAS.PAN')}
        .separator
        .control(id="mapControlAddCircles")
            img.icon(src='resources/images/icons/add.png', draggable='false' )
            .p.description #{__('G_AREAS.ADD')}
        .separator
        .control(id="mapControlRemoveCircles")
            img.icon(src='resources/images/icons/remove.png', draggable='false' )
            .p.description #{__('G_AREAS.REMOVE')}
    .infoButton.info-move(id="mapInfos")
        .control(id="mapInfoOpener")
            img.icon(src='resources/images/icons/infoMap.png', draggable='false' )
    .container.front
        .row
            .col-sm-12
                .center-button
                    a.btn.btn-default.btn-green.btn-map-bottom(id="btn_knownAreasContinue") #{__('G_AREAS.CONTINUE')}
    #map.guideAreaMap
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfwr4Jux2OwmpetTfqEYpGBoX95Z5obkI&libraries=drawing,places&callback=initMap' async defer)
    input.form-control.inp-map(id="sb_places" type='text' placeholder="#{__('G_AREAS.SEARCH')}")
    #nothingSelected.modalDialog(hidden)
        .row
            .col-sm-12
                img.x.toLateDialogClose.nothingSelectedClose(src='resources/images/icons/x.png', alt='close icon')
        center(style="padding:10px")
            .alertForm
                h1 #{__('G.ATTENTION')}
                p #{__('G.NO_AREA_SELECTED')}
                .row(style="margin-top:20px")
                    .col-md-12
                        button.btn.btn-green.btn-status.toLateDialogClose.nothingSelectedClose(style="margin-bottom:10px;") #{__('GENERAL.OK')}
block foot