//- 
    ...
     
extends layout

block append scripts
    script(src='../resources/js/rmc3@3.3.5.js')
    // socket.io for signaling
    script(src='/socket.io/socket.io.js')
    script(src='../resources/js/connection.js')
    script(src='../resources/js/guide.connection.js')
    script(src='../resources/js/util.js')
    script(src='../resources/js/ui.js')
    script(src='../resources/js/guide.ui.js')
    script(src='../resources/js/DetectRTC.js')
    script(src='../resources/js/map.js')
    script(src='../resources/js/guide.map.js')
    script.
      $(document).ready(function () {
            username = "!{name}";
            initSplinxs();
            initUI();
            initGuideUI();
            showGUI();
            showGuideUI();
            initGuideConnection();
      });

block append stylesheets
    //TODO remove when it works...
    link(rel='stylesheet', href='../resources/css/styleOld.css')
    link(rel='stylesheet', href='../resources/css/chat.css')

block append navbarli
    li
        a(href="/logout" id="a_logout") #{texts.MENU.LOGOUT}
    li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | #{texts.MENU.SETTINGS}
            span.caret
        ul.dropdown-menu
            li
                a(href="/guideLanguages" id="a_guideLanguages") #{texts.MENU.CHANGE_LANGUAGES}
            li
                a(href="/guideAreas" id="a_guideAreas") #{texts.MENU.CHANGE_AREAS}
            li
                a(href="/guidePassword" id="a_guidePassword") #{texts.MENU.CHANGE_PASSWORD}

block content
    main#content
      button#btn_closeConnection(type='button', hidden) __close connection
      br
      #audio(hidden='')
        button#btn_startAudio(type='button') __start audio
        button#btn_stopAudio(type='button') __stop audio
        #audioDiv
      br
      #video.video(hidden='')
        button#btn_stopVideo(type='button') __stop video
        #videoContainer
      br
      span __state: 
      span(id="spn_state") __available
      br
      button(id='btn_available', type="button") __set available
      br
      button(id='btn_unavailable', type="button") __set unavailable
      br
      div(id="mapControls", hidden)
      // not needed anymore
        span __map update interval
        br
        button#btn_updateIntervalOff(type='button') off
        button#btn_updateIntervalBatman(type='button') batman
        button#btn_updateIntervalSpiderman(type='button') spiderman
        button#btn_updateIntervalIronman(type='button') ironman
        button#btn_updateIntervalSuperman(type='button') superman
        button#btn_updateIntervalFlash(type='button') flash
      div(id="map", hidden)

      .chatBox(id="chatBox")
          .panel.panel-primary(id="primaryPanel")
            .panel-heading(id="headingPanel")
              span.glyphicon.glyphicon-comment
              |  #{texts.GENERAL.CHAT}
              span#spn_isTyping.text-center

                img(src='../resources/images/icons/arrowDown.png', alt='close', id="btn_minimiseChat")
                //
                    button#btn_minimiseChat.btn.btn-default.btn-xs(type='button')
                      span.glyphicon.glyphicon-chevron-down
                    ul.dropdown-menu.slidedown
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh
                          | __Refresh
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-ok-sign
                          | __Available
            .panel-body(id="bodyPanel")
              ul#chat.chat
            .panel-footer(id="footerPanel")
              .input-group
                input#inp_chat.form-control.input-sm(type='text', placeholder='#{texts.G.TYPE_MESSAGE}')
                span.input-group-btn
                  button#btn_chat.btn.btn-sm #{texts.GENERAL.SEND}
          // </div>
      #modalDialog.modalDialog(hidden)
        // <div id="confirmDiv">
        p#modalContent
        button#modalNo #{texts.GENERAL.NO}
        button#modalYes #{texts.GENERAL.YES}
        // </div>
      audio#audioPlayer
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfwr4Jux2OwmpetTfqEYpGBoX95Z5obkI&libraries=drawing,places&callback=initMap')

//
block append foot
    //
        div(id="smallChat", class="smallChat", hidden)
            img#smallChatImg.smallChatImg(src='resources/images/smallChat.png', alt='#{texts.GENERAL.CHAT}')
            span#smallChatText.smallChatText #{texts.GENERAL.CHAT}
            img.smallChatUp(src='resources/images/arrowUp.png', alt='up')

