doctype html
html.html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Splinxs
        link(rel='icon', href='resources/images/logo.png', type='image/gif')
        link(rel='stylesheet', href='resources/css/bootstrap.min.css')
        // Custom theme
        link(rel='stylesheet', href='resources/css/style.css')
        link(rel='stylesheet', href='resources/css/style-index.css')
        // For the moblie menu
        // <script type="text/javascript" src="resources/js/jquery-2.0.3.min.js"></script>
        // <script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>
        // <script type="text/javascript" src="resources/js/jquery-1.10.2.min.js"></script>
        script(src='resources/js/jquery-2.2.0.min.js')
        script(src='resources/js/rmc3@3.3.2.min.js')
        script(type='text/javascript', src='resources/js/bootstrap-3.3.4.min.js')
        script(src='resources/js/DetectRTC.js')
        script.
            //check if browser supports all features
            DetectRTC.load(function () {
                if (DetectRTC.hasMicrophone) {
                    // seems current system has at least one audio input device
                    console.log('has microphone');
                }
                if (DetectRTC.hasSpeakers) {
                    // seems current system has at least one audio output device
                    console.log('has speakers');
                }
                if (DetectRTC.hasWebcam) {
                    // seems current system has at least one video input device
                    console.log('has webcam');
                }
                if (!DetectRTC.isWebRTCSupported) {
                    // seems no WebRTC compatible client
                    console.log('does not support WebRTC');
                    showError();
                }
                if (DetectRTC.isAudioContextSupported) {
                    // seems Web-Audio compatible client
                    console.log('Web-Audio ok');
                }
                if (DetectRTC.isScreenCapturingSupported) {
                    // seems WebRTC screen capturing feature is supported on this client
                    console.log('screen capturing ok');
                }
                if (DetectRTC.isSctpDataChannelsSupported) {
                    // seems WebRTC SCTP data channels feature are supported on this client
                    console.log('SCTP ok');
                }
                if (DetectRTC.isRtpDataChannelsSupported) {
                    // seems WebRTC (old-fashioned) RTP data channels feature are supported on this client
                    console.log('RTP data channel ok');
                }
            });
            function showError() {
                var startSection = $("#startSection");
                var errorSection = $("#errorSection");
                startSection.hide();
                errorSection.show();
            }
        script.
            /*Scroll transition to anchor*/
            function scrollTo(section) {
                $('html, body').animate({
                    scrollTop: $(section).offset().top
                }, 750);
                return false;
            };

    if error
        body#body(onload='$("loginPopup").show();')
    else
        body#body

    // --- HEADER START
    header#header
        .topbar
            .topbar-left
            .topbar-middle
            .topbar-right
        .navbar.navbar-default.navbar-fixed-top.navbar-custom
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(onclick="scrollTo('#body')")
                        img(style='height:100%', src='resources/images/splinxs.png')
                #navbar-ex-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(onclick="scrollTo('#homeSlide')") #{texts.MENU.HOME}
                        li
                            a(onclick="scrollTo('#splinxsSlide')") #{texts.MENU.WHAT_IS_SPLINXS}
                        li
                            a(onclick="scrollTo('#aboutSlide')") #{texts.MENU.ABOUT_US}
                        li
                            a(onclick="scrollTo('#contactSlide')") #{texts.MENU.CONTACT}
                        li
                            a(onclick="scrollTo('#footerSlide')") __Footer
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | #{texts.MENU.LANGUAGES}
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/?clang=en') #{texts.LANGUAGES.ENGLISH}
                                li
                                    a(href='/?clang=de') #{texts.LANGUAGES.GERMAN}
                                li
                                    a(href='/?clang=it') #{texts.LANGUAGES.ITALIAN}
                                li
                                    a(href='#') Something else here
                                li
                                    a(href='#') Something else here
                                li
                                    a(href='#') Something else here



    main
        loginPopup.loginPopup(hidden='')
            img.x(src='resources/images/icons/x.png', alt='close icon', onclick='$("loginPopup").hide(400);')
            center
                include login.jade
        // --- SLIDES START
        #homeSlide.slide
            .container
                // --- TITLE
                .row
                    .col-xs-12.text-center
                        h1 #{texts.INDEX.SPLINXS_SUBTITLE}
                // --- BUTTON
                .row
                    .col-sm-6.text-center
                        a#touristButton.btn.btn-default.btn-green.btn-index(href='tourist.html') #{texts.INDEX.I_AM_TOURIST}
                    .col-sm-6.text-center

                        a.btn.btn-default.btn-green.btn-index(onclick='$("loginPopup").show(400);') #{texts.INDEX.I_AM_GUIDE}
                        //a.btn.btn-default.btn-green.btn-index(href='guide.html') #{texts.INDEX.I_AM_GUIDE}
                // --- DESCRIPTION
                .row
                    .col-sm-12.splinxsDescription
                        div
                            b #{texts.GENERAL.TOURIST}:
                            |  #{texts.INDEX.DESCRIPTION_TOURIST}
                            br
                            br
                            b #{texts.GENERAL.GUIDE}:
                            |  #{texts.INDEX.DESCRIPTION_GUIDE}
        #errorSection(hidden='')
            h1 WebRT not supported!
        #splinxsSlide.slide
            .section
                .container
                    .row
                        .col-md-12
                            h1.text-center #{texts.MENU.WHAT_IS_SPLINXS}
                    .row
                        .col-xs-3
                            img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/videoWhite.png', height='50px')
                        .col-xs-9
                            h4.media-heading #{texts.GENERAL.VIDEO}
                            p
                                __TODO
                        p
                    .row
                        .col-xs-3
                            img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/audioWhite.png', height='50px')
                        .col-xs-9
                            h4.media-heading #{texts.GENERAL.AUDIO}
                            p
                                __TODO
                    .row
                        .col-xs-3
                            img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/chatWhite.png', height='50px')
                        .col-xs-9
                            h4.media-heading #{texts.GENERAL.CHAT}
                            p
                                __TODO
                    .row
                        .col-xs-3
                            img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/orientatioWhite.png', height='50px')
                        .col-xs-9
                            h4.media-heading #{texts.GENERAL.ORIENTATION}
                            p
                                __TODO
        #aboutSlide.slide
            .section
                .container
                    .row
                        .col-md-12
                            h1.text-center  #{texts.MENU.ABOUT_US}
                            p.text-center __We are two students bla bla
                    .row
                        .col-md-6
                            img.center-block.img-circle.img-responsive(src='resources/images/aboutUs.png')
                            h3.text-center __Philippe Lüthi
                            p.text-center __Student
                        .col-md-6
                            img.center-block.img-circle.img-responsive(src='resources/images/aboutUs.png')
                            h3.text-center __Elia Kocher
                            p.text-center __Student
        #contactSlide.slide
            .section
                .container
                    .row
                        .col-md-12
                            img.center-block.img-responsive(src='resources/images/icons/mailWhite.png', style='height:150px')
                            h1.text-center  #{texts.MENU.CONTACT}
                            p.text-center __For information and bla bla you can contact us via mail
                            h2.text-center __info.splinxs@gmail.com
        #footerSlide.slide
            .content
                h2 __Footer and copiright here, no link to this section
                #copyright  __Copyright 2016 Elia Kocher & Philippe Lüthi
        // --- SLIDES END
