extends layout

block append stylesheets
    link(rel='stylesheet', href='resources/css/style-index.css')
    link(rel='stylesheet', href='resources/css/login.css')
// For the moblie menu
// <script type="text/javascript" src="resources/js/jquery-2.0.3.min.js"></script>
// <script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>
// <script type="text/javascript" src="resources/js/jquery-1.10.2.min.js"></script>
block append scripts
    //TODO is rmc needed here???

    //script(src='resources/js/rmc3@3.3.5.min.js')
    //script(src='resources/js/DetectRTC.js')
    script(src='resources/js/index.functions.js')
    script(src='resources/js/modernizr-custom.min.js')


block navbar-brand
    a#navbar-brand-scroll.navbar-brand
        img(style='height:100%', src='resources/images/splinxs.png')
block append navbarli
    //TODO remove index2
    li.liClose
        a(href="/index2") __prototypes
    //TODO do onClick in js file? is it worth it?
    li.liClose
        a(onclick="scrollTo('#body')") #{texts.MENU.HOME}
    li.liClose
        a(onclick="scrollTo('#splinxsSlide')") #{texts.MENU.WHAT_IS_SPLINXS}
    li.liClose
        a(onclick="scrollTo('#aboutSlide')") #{texts.MENU.ABOUT_US}
    li.liClose
        a(onclick="scrollTo('#contactSlide')") #{texts.MENU.CONTACT}


block content    
    if registerError
        //TODO do it in js file? is it worth it?
        body#body(onload='$("registerPopup").show();')
    else if loginError
        //TODO do it in js file? is it worth it?
        body#body(onload='$("loginPopup").show();')
    else if registrationOK
        body#body(onload='$("registartionOKPopup").show();')

    else
        body#body

    registartionOKPopup.registartionOKPopup(hidden='')
        include registrationOK.jade

    loginPopup.loginPopup(hidden='')
        include login.jade
    registerPopup.registerPopup(hidden='')
        include register.jade
    // --- SLIDES START
    #homeSlide.slide
        .container
            // --- TITLE
            .row
                .col-xs-12.text-center
                    h1 #{texts.INDEX.SPLINXS_SUBTITLE}
            // --- BUTTON
            .row
                .col-sm-6.text-center
                    a#touristButton.btn.btn-default.btn-green.btn-index(href='/touristLanguages') #{texts.INDEX.I_AM_TOURIST}
                .col-sm-6.text-center

                    a#btn-guide.btn.btn-default.btn-green.btn-index #{texts.INDEX.I_AM_GUIDE}
            // --- DESCRIPTION
            .row
                .col-sm-12.splinxsDescription
                    div
                        b #{texts.GENERAL.TOURIST}:
                        |  #{texts.INDEX.DESCRIPTION_TOURIST}
                        br
                        br
                        b #{texts.GENERAL.GUIDE}:
                        |  #{texts.INDEX.DESCRIPTION_GUIDE}
    #errorSection(hidden='')
        h1 WebRT not supported!
    #splinxsSlide.slide
        .section
            .container
                .row
                    .col-md-12
                        h1.text-center #{texts.MENU.WHAT_IS_SPLINXS}
                .row
                    .col-xs-3
                        img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/videoWhite.png', height='50px')
                    .col-xs-9
                        h4.media-heading #{texts.GENERAL.VIDEO}
                        p #{texts.INDEX.VIDEO_DESCRIPTION}
                    p
                .row
                    .col-xs-3
                        img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/audioWhite.png', height='50px')
                    .col-xs-9
                        h4.media-heading #{texts.GENERAL.AUDIO}
                        p #{texts.INDEX.AUDIO_DESCRIPTION}
                .row
                    .col-xs-3
                        img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/chatWhite.png', height='50px')
                    .col-xs-9
                        h4.media-heading #{texts.GENERAL.CHAT}
                        p #{texts.INDEX.CHAT_DESCRIPTION}
                .row
                    .col-xs-3
                        img.media-object.pull-right.splinxsSlideIcon(src='resources/images/icons/orientatioWhite.png', height='50px')
                    .col-xs-9
                        h4.media-heading #{texts.GENERAL.ORIENTATION}
                        p #{texts.INDEX.LOCATION_DESCRIPTION}
    #aboutSlide.slide
        .section
            .container
                .row
                    .col-md-12
                        h1.text-center  #{texts.MENU.ABOUT_US}
                        p.text-center #{texts.INDEX.ABOUT_US_INTRODUCTION}
                .row
                    .col-md-6
                        img.center-block.img-circle.img-responsive(src='resources/images/aboutUs.png')
                        h3.text-center Philippe Lüthi
                        p.text-center p.text-center #{texts.INDEX.ABOUT_US_PHIL}
                    .col-md-6
                        img.center-block.img-circle.img-responsive(src='resources/images/aboutUs.png')
                        h3.text-center Elia Kocher
                        p.text-center #{texts.INDEX.ABOUT_US_ELIA}
    #contactSlide.slide
        .section
            .container
                .row
                    .col-md-12
                        img.center-block.img-responsive(src='resources/images/icons/mailWhite.png', style='height:150px')
                        h1.text-center  #{texts.MENU.CONTACT}
                        p.text-center #{texts.MENU.CONTACT_DESCRIPTION}
                        h2.text-center #{texts.INDEX.CONTACT_MAIL}
    #footerSlide.slide
        .content
            h2 __Footer and copiright here, no link to this section
            #copyright  __Copyright 2016 Elia Kocher & Philippe Lüthi
    // --- SLIDES END
