img#x-login-img.x(src='resources/images/icons/x.png', alt='close icon')
center
  .container
    .loginRegisterForm
      h1 #{texts.LOGIN.LOGIN}
      p.lead __Say something worthwhile here.
      br
      if loginError
        br
        h2 #{loginError}
        br
      form.form-signin(role='form', action="/index",method="post", style='max-width: 300px;')

        input.form-control.inputTop(type='text', name="username", placeholder='#{texts.LOGIN.USERNAME}', required, autofocus, value='#{username ? username : ""}')
        input.form-control.inputBottom(type='password', name="password", placeholder='#{texts.LOGIN.PASSWORD}', required)
        .row.row-login
          .col-xs-6
            button.btn.btn-green.btn-login(type='submit') #{texts.GENERAL.SUBMIT}
          .col-xs-6
            a#btn-close-login.btn.btn-default.btn-login #{texts.GENERAL.CANCEL}
        .row
          .col-xs-6
            a(href="/") __Forgot possword?
          .col-xs-6
            a#a-register __Sign up now!
            //a(href="/register") __Sign up now!
