
.container
  h1 #{texts.LOGIN.LOGIN}
  p.lead __Say something worthwhile here.
  br
  if error
    br
    h2 #{error}
    br
  form.form-signin(role='form', action="/index",method="post", style='max-width: 300px;')

    input.form-control.inputTop(type='text', name="username", placeholder='#{texts.LOGIN.USERNAME}', required, autofocus, value='#{username}')

    input.form-control.inputBottom(type='password', name="password", placeholder='#{texts.LOGIN.PASSWORD}', required)
    button.btn.btn-green(type='submit') #{texts.GENERAL.SUBMIT}
    a(onclick='$(".loginPopup").hide();')
      button.btn.btn-default(type="button") #{texts.GENERAL.CANCEL}
    .row
      .col-xs-6
        a(href="/") Forgot possword?
      .col-xs-6
        a(href="/") Sign up now!
