img#x-register-img.x(src='resources/images/icons/x.png', alt='close icon')
center
  .container
    h1 #{texts.REGISTER.REGISTER}
    p.lead __enter details to create guide account
    br
    if error
      br
      h2 #{error}
      br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='#{texts.REGISTER.USERNAME}', required, autofocus)
      #firstPasswordGroup.form-group
        input.form-control(type='password', id="password", name="password", placeholder='#{texts.REGISTER.PASSWORD}', required)
      #secondPasswordGroup.form-group
        input.form-control(type='password', id="papssword_confirm", name="password_confirm", placeholder='#{texts.REGISTER.R_PASSWORD}', required)
      .form-group
          input.form-control(type='email', name="email", placeholder='#{texts.REGISTER.EMAIL}', value='#{email ? email : ""}', required)
      .row.row-login
        .col-xs-6
          button.btn.btn-green.btn-login(type='submit') #{texts.GENERAL.SUBMIT}
        .col-xs-6
          a#btn-register-close.btn.btn-default.btn-login #{texts.GENERAL.CANCEL}

