img#x-register-img.x(src='resources/images/icons/x.png', alt='close icon')
center
  .container
    .loginRegisterForm
      h1 #{texts.REGISTER.REGISTER}
      p.lead #{texts.REGISTER.SIGN_UP_MESSAGE}

      if registerError == "USERNAME_TAKEN"
        .alert.alert-green(role="alert")
          | #{texts.REGISTER.USERNAME_TAKEN}
      else if registerError == "EMAIL_TAKEN"
        .alert.alert-green(role="alert")
          | #{texts.REGISTER.EMAIL_TAKEN}
      form(role='form', action="/register",method="post", style='max-width: 300px;')
        .form-group
          input.form-control(maxlength="40" type='text', name="username", placeholder='#{texts.REGISTER.USERNAME}', value='#{username ? username : ""}', required, autofocus)
        #firstPasswordGroup.form-group
          input.form-control(maxlength="40" type='password', id="password", name="password", placeholder='#{texts.REGISTER.PASSWORD}', required)
        #secondPasswordGroup.form-group
          input.form-control(maxlength="40" type='password', id="papssword_confirm", name="password_confirm", placeholder='#{texts.REGISTER.R_PASSWORD}', required)
        .form-group
            input.form-control(maxlength="254" type='email', name="email", placeholder='#{texts.REGISTER.EMAIL}', value='#{email ? email : ""}', required)
        .row.row-login
          .col-xs-6
            button.btn.btn-green.btn-login(type='submit') #{texts.REGISTER.REGISTER}
          .col-xs-6
            a#btn-register-close.btn.btn-white.btn-login #{texts.GENERAL.CANCEL}
        .row
          .col-xs-6
            a(href="/guidePassword") #{texts.REGISTER.FORGOT}
          .col-xs-6
            a#a-login #{texts.REGISTER.BACK}
