//- 
    ...
     

extends layout

block append scripts
    script(src='resources/js/rmc3@3.3.5.js')
    // socket.io for signaling
    script(src='/socket.io/socket.io.js')
    script(src='resources/js/DetectRTC.js')
    script(src='resources/js/connection.js')
    script(src='resources/js/tourist.connection.js')
    script(src='resources/js/util.js')
    script(src='resources/js/ui.js')
    script(src='resources/js/tourist.ui.js')

    script(src='resources/js/map.js')
    script(src='resources/js/tourist.map.js')
    script(src='../resources/js/hammerV2.0.8.js')
    script(src='../resources/js/hammerFunctions.js')
    script.
      $(document).ready(function () {
            username = "!{name}";
            detectRTCcapabilities();
            if (!DetectRTC.hasMicrophone) {
                alert("__You have no microphone");
            }
            initSplinxs();
            //isGuide=false
            initUI(false);
            initTouristUI();
            initTouristConnection();

      });

block append stylesheets
    //TODO remove when it works...
    //link(rel='stylesheet', href='resources/css/styleOld.css')
    link(rel='stylesheet', href='../resources/css/connected.css')
    link(rel='stylesheet', href='resources/css/chat.css')
block append navbarli
    li
        a#touristControlsBtn __controls

block content
    #loadBox.load(hidden='')
        p __bla bla bla... Loading...
        #load1.loadDot
        #load2.loadDot
        #load3.loadDot
    //
        main#content
          button#btn_joinConnection(type='button') __join connection
          button#btn_closeConnection(type='button', hidden='') __close connection
          br
          #audio(hidden='')
            button#btn_startAudio(type='button') __start audio
            button#btn_stopAudio(type='button') __stop audio
            #audioDiv
          br
          #video.video(hidden='')
            button#btn_shareVideo(type='button') __start video
            button#btn_stopVideo(type='button') __stop video
            button#btn_muteVideo(type='button') __mute video
            button#btn_unmuteVideo(type='button') __unmute video
            #myVideo
    #content

        #touristControls.controlsPage(hidden)
            .row
                .col-sm-12
                    img.x(src='resources/images/icons/x.png', alt='close icon', id="btn_touristClose")
            .row
                .col-sm-12
                    h2(style='text-align: center;') __Controls

            button#btn_joinConnection(type='button') __join connection
            button#btn_closeConnection(type='button', hidden='') __close connection
            br
            #audioControlsBox(hidden='')
                button#btn_startAudio(type='button') __start audio
                button#btn_stopAudio(type='button') __stop audio
                #audioDiv
            br
            #videoControlsBox.video(hidden='')
                button#btn_shareVideo(type='button') __start video
                button#btn_stopVideo(type='button') __stop video
                //button#btn_muteVideo(type='button') __mute video
                //button#btn_unmuteVideo(type='button') __unmute video
                //#myVideo

        .chatBox(id="chatBox" hidden)
            .panel.panel-primary(id="primaryPanel")
                .panel-heading(id="headingPanel")
                    span
                        .chatLeft
                            img.chatLeftIcon(src='resources/images/icons/chatWhite.png', alt='chat')

                            span#spn_isTyping.text-center.message
                            //#{texts.GENERAL.CHAT}


                            img.chatRightIcon(src='resources/images/icons/arrowDown.png', alt='close', id="btn_minimiseChat")
                //
                  span.glyphicon.glyphicon-comment
                  |  #{texts.GENERAL.CHAT}
                  span#spn_isTyping.text-center

                    img(src='resources/images/icons/arrowDown.png', alt='close', id="btn_minimiseChat")
                    //
                        button#btn_minimiseChat.btn.btn-default.btn-xs(type='button')
                          span.glyphicon.glyphicon-chevron-down
                        ul.dropdown-menu.slidedown
                          li
                            a(href='#')
                              span.glyphicon.glyphicon-refresh
                              | __Refresh
                          li
                            a(href='#')
                              span.glyphicon.glyphicon-ok-sign
                              | __Available
                .panel-body(id="bodyPanel")
                    ul#chat.chat
                .panel-footer(id="footerPanel")
                    .input-group
                        input#inp_chat.form-control.input-sm(type='text', placeholder='#{texts.G.TYPE_MESSAGE}')
                        span.input-group-btn
                            button#btn_chat.btn.btn-sm #{texts.GENERAL.SEND}
          // </div>
        audio#audioPlayer
        #hammerVideo(hidden)
            #videoContainer
        #hammerContainer
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfwr4Jux2OwmpetTfqEYpGBoX95Z5obkI&libraries=drawing,places&callback=initMap')
        .audioVideoControls
            img.videoIcon(src='resources/images/icons/videoOn.png', alt='video' id="btn_mute_video")
            img.audioIcon(src='resources/images/icons/microphoneOn.png', alt='audio' id="btn_mute_audio")
block foot
//
    div(id="smallChat", class="smallChat", hidden)
        img#smallChatImg.smallChatImg(src='resources/images/smallChat.png', alt='chat')
        span#smallChatText.smallChatText Chat
        img.smallChatUp(src='resources/images/arrowUp.png', alt='up')